body{
    font-family: "Raleway",Helvetica, sans-serif;
    background-color:  #00796B;
    color: #fff;
}
a:link, a:visited{
    text-decoration: none;
}
svg path,
svg rect{
  fill: #004940;
}
.loader{
    display: none;
}
h1,h2{
    font-weight: 100;
}
.general{
    text-align: center;
    margin-top: 1em;
}
#weather-icon{
    margin: 10px;
    font-size: 5em;
}
/*general*/
.location-input-wrapper{
    margin: 1em;
    
}
#location{
    padding: 5px;
    font-size: 2em;
    outline: none;
    border: none;
    text-align: center;
}
.unit{
    cursor: pointer;        
    text-transform: uppercase;
}
/*details controls*/
.details-btn-container{
    text-align: center;
    border-bottom: 2px solid #004940;
}
.btn-details{
    color: #fff;
}
.btn-details .fa{
    color: #004940;
}
.hcol{
    width: 50%;
    float: left;
}
.hcol:first-child{
    width: 70%;
}
.hcol:last-child{
    text-align: right;
    width: 30%;
}
.details{
    font-size: 1.5em;
    display: none;
}
.details > div{
    width: 60%;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 0;
}